html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
  margin: 0px;
  width: 300px;
  background-color: rgb(20,20,20);
  color:white;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align:center;
  padding-top:7%;
  border-radius:15px;
}

.sidebar a {
  background-color:rgb(20,20,20);
  padding-top: 8px;
  padding-bottom: 8px;
  display:block;
  color: white;
  opacity:0.5
  padding: 16px;
  text-decoration: none;
  font-size:20px;
  font-family:Rajdhani;
}

.sidebar a.active {
  color: white;
  opacity:0.8
}

.sidebar a:hover:not(.active) {
  color: white;
  opacity:0.5
}

.content {
  margin-left: 300px;
  padding-left:25px;
  height: 100%;
  padding-top:7%;
  color:gray;
}

img{
border-radius:50%;
border: 6px solid rgb(40,40,40);
padding: 1px;
}

.heading{
font-size:80px; 
font-family:Mansalva;
}

.heading-2{
font-size:50px; 
font-family:Mansalva;
}

.black{
color:black;
}

.intro{
font-size:18px;
font-family:Abel;
}

.text{
font-size:22px;
font-family:Abel;
}


.mySlides {display: none;}

.slideshow-container {
text-align:left;
font-size:20px;
padding-top:2%;  
max-width: 100%;;
  position: relative;
  margin: auto;
font-family:Montserrat;
}


.dot {
  height: 1px;
  width: 1px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: .8}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height:auto;
    position: fixed;
  }
  .sidebar a {float:left; padding-right:10px; font-size:14px;  }
  div.content {margin-left: 0; padding-top:20%;padding-left:0;}
  .heading{
font-size:38px;}
  
  .sidebar img{
  display:none;
  }
  
}



