html{
height:100%;
}

body{
margin:0;
padding:0;
height:100%;
}

.sidebar{
margin:0;
width:250px;
background-color:rgb(189,93,56);
color:white;
position:fixed;
height:100%;
overflow:auto;
text-align:center;
padding-top:10%;
border-radius:1px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
padding:12px;
font-size:20px;
font-family:Rajdhani;
opacity:0.9;
}

.sidebar a.active{
color:white;
opacity:1;
}

.sidebar a:hover:not(.active){
opacity:0.5;
}

.content{
margin-left:280px;
height:100%;
padding-top:10%;
color:#868e96;
}

img{
border-radius:50%;
border:6px solid rgb(255,255,255,0.2);
padding:0px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height:auto;
    position: fixed;
  }
  .sidebar a {float:left; font-size:14px;  }
  div.content {margin-left: 0; padding-top:25%;padding-left:25px;}
  .heading{
font-size:38px;}
.heading-2{
font-size:30px;}
  
  .sidebar img{
  display:none;
  }
  
}

.heading{
font-size:80px;
font-family:Rubik;
font-weight:700;
color:black;
}


.heading-2{
font-size:50px; 
font-family:Rubik;
color:black;
font-weight:700;
}

.color{
color:rgb(189,93,56);
}

.intro{
font-family:Abel;
font-size:18px;
}


.mySlides {display: none;}

.slideshow-container {
text-align:left;
font-size:20px;
padding-top:2%;  
max-width: 100%;;
  position: relative;
  margin: auto;
font-family:Montserrat;
}


.dot {
  height: 1px;
  width: 1px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}